/* 
Conveccion de buenas practicas para crear los estilos
1. Posicionamiento.
2. Modelo de caja (Box Model)
3. Tipografia.
4. Visual.
5. Otros.
*/

/* Ac隆 se van a guardar las variables a usar en los estilos */
:root{
    /* colores */
    --white-ice: #F1F6F9;
    --polar-ocean: #394867;
    --dark-blue: #212A3E;
    --seal-grey: #9BA4B5;
    --loading-grey: #d6d6d6;
}

/* Se agregan los estilos generales al proyecto */

/* Con este bloque se reinician los estilos de los navegadores */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;  /* hace que el scroll de la pagina ocasionado por alguna accion (Ej. boton) se suave y evita los saltos abruptos */
    background-color: var(--dark-blue);
}

body{
    display: grid;
    grid-template-columns: 100%;
    background-color: var(--white-ice);
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.5rem;
}

h1, h2, h3{
    font-family: 'Roboto', sans-serif;
}

/* estilos del header */
header{
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0 1rem;
}

.header-arrow{
    display: inline-block;
    /* width: 2.5rem;
    height: 2.5rem; */
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--dark-blue);
    cursor: pointer;
    /* background-image: url("https://cdn-icons-png.flaticon.com/512/54/54782.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
}

.header-arrow--white{
    color: var(--white-ice);
}

.header-title{
    color: var(--dark-blue);
}

.header-search{
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: var(--polar-ocean);
    border-radius: 0.5rem;
}

.search-btn{
    width: 3rem;
    height: 100%;
    background-color: var(--polar-ocean);
    border: none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    cursor: pointer;
}

.search-icon{
    display: inline-block;
    width: 1.5rem;
    height: 50%;
    margin: 0.75rem;
    background-image: url("https://cdn-icons-png.flaticon.com/512/8915/8915520.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.header-search input{
    width: 100%;
    height: 100%;
    color: var(--seal-grey);
    background-color: var(--polar-ocean);
    border: none;
    outline: none;  /* esta linea quita el efecto cuando se selecciona el input */
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.header-search input::placeholder{
    color: var(--seal-grey);
}

/* estilos del main */

main{
    margin-top: 0.8rem;
}

/* secci贸n highlighted movie*/

.highlighted-movie-container{
    display: none;
}

.highlighted-movie-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 52rem;
    padding-left: 1rem;
    margin-left: 5%;
    gap: 1rem;
    text-shadow: 0px 4px 8px var(--dark-blue);
    background-color: #212a3eb1;
}

.highlighted-movie-title{
    color: var(--white-ice);
    font-size: 5rem;
}

.highlighted-movie-overview{
    padding: 0.5rem;
    color: var(--white-ice);
    font-size: 1.6rem;
}

.more-info-btn{
    width: 15rem;
    height: 3rem;
    color: var(--white-ice);
    background-color: var(--polar-ocean);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

/* Seccion de dropdown */
.category-dropdown{
    display: none;
    color: var(--dark-blue);
}

/* Secci贸n trending preview / liked movies */

.trendingPreview-container, 
.likedMovie-container{
    display: grid;
    height: 35rem;
    align-items: center;
}

.trendingPreview-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

.likedMovie-header{
    margin: 0 1rem;
}

.trendingPreview-title{
    color: var(--dark-blue);
}

.trendingPreview-btn{
    width: 8rem;
    height: 2rem;
    color: var(--seal-grey);
    background-color: var(--polar-ocean);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.trendingPreview-btn:hover,
.more-info-btn:hover{
    box-shadow: 0px 4px 8px var(--seal-grey);
}

.trendingPreview-movieList, 
.liked-movieList{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: 20px;
    padding: 0 25px;
}

.movie-container{
    width: 20rem;
    height: 30rem;
    min-width: 20rem;
    min-height: 30rem;
    position: relative;
    cursor: pointer;
}

.movie-btn{
    position: absolute;
    top: 10px;
    right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
    background-color: var(--polar-ocean);
}

.movie-btn::before{
    content: '';
}

.movie-btn--liked{
    background-color: var(--white-ice);
}

.movie-btn--liked::before{
    content: '';
}

.movie-container--loading{
    min-width: 20rem;  /* hace que el skeleton se expanda mas alla del contenedor */
    background-color: var(--loading-grey);
    border-radius: 1rem;
    animation: loading-skeleton infinite 1.5s;
}

.movie-container--loading:nth-child(2){
    animation-delay: .2s;
}

.movie-container--loading:nth-child(3){
    animation-delay: .4s;
}

.movie-container--loading:nth-child(4){
    animation-delay: .6s;
}


.movie-img{
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    border-radius: 1rem;
}

/* Secci贸n de categories preiview */

.categoriesPreview-container{
    display: grid;
    height: 35rem;
    /* grid-template-rows: 1fr 4fr; */
}

.categoriesPreview-title{
    align-self: center;
    margin: 0 1rem;
    color: var(--dark-blue);
}

.categoriesPreview-list{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 4rem;
    place-items: center;
    margin: 0 1rem;
    gap: 0.5rem;
    overflow-y: scroll;
}

.category-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    background-color: var(--polar-ocean);
    border-radius: 1rem;
    cursor: pointer;
}

.category-container--loading{
    background-color: var(--loading-grey);
    border-radius: 1rem;
    animation: loading-skeleton infinite 1.5s;
}

.category-container:hover{
    box-shadow: 0px 3px 6px var(--seal-grey);
}

.category-title{
    color: var(--seal-grey);
}

/* Secci贸n de generict list */
.genericList-container{
    display: grid;
    justify-items: center;
    align-items: start;
    height: 100%;
    overflow-y: scroll;
}

.genericList-movieList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    margin: 0 1rem;
}

.movie-container--small{
    width: 14rem;
    height: 21rem;
    min-width: 14rem;
    min-height: 21rem;
    position: relative;
    cursor: pointer;
}

.movie-container--small-loading{
    min-width: 14rem;  /* hace que el skeleton se expanda mas alla del contenedor */
    background-color: var(--loading-grey);
    border-radius: 1rem;
    animation: loading-skeleton infinite 1.5s;
}

/* Secci贸n del footer */

footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    background-color: var(--dark-blue);
}

footer a{
    width: 3rem;
    height: 3rem;
    overflow: hidden;
}

footer a img{
    width: 100%;
}

/* Secci贸n de Movie Detail */

.body--movie-detail{  /* Esta clase se le aplica al body cuando se abre la vista en detalle de una pelicula */
    display: block;
    background-color: var(--dark-blue);
}

.header--movie-detail{  /* Esta clase se le aplica al Header cuandp se abre la vista en detalle de una peliculaq */
    width: 100vw;
    height: 48rem;
    position: fixed;
    /* background-image: url("https://www.themoviedb.org/t/p/w600_and_h900_bestv2/Af4bXE63pVsb2FtbW8uYIyPBadD.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; */
}

.main--movie-detail{  /* Esta clase se le aplica al main cuandp se abre la vista en detalle de una peliculaq */
    margin: 0;
}

.movieDetail-container{
    display: grid;
    grid-template-rows: auto auto;
    place-items: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    margin-top: 40rem;
    padding: 2.4rem 1.8rem;
    gap: 3rem;
    background-color: var(--dark-blue);
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
}

.movieDetail-info{
    display: grid;
    gap: 1rem;
    width: 100%;
}

.movieDetail-title,
.movieDetail-score{
    font-size: 2.4rem;
    color: var(--white-ice);
}

.movieDetail-title--loading{
    height: 2.85rem;
    width: 100%;
    min-height: 2.85rem;
    min-width: 100%;
}

.movieDetail-score--loading{
    width: 3.4rem;
    height: 3.25rem;
    min-width: 3.4rem;
    min-height: 3.25rem;
}

.movieDetail-categories--loading{
    width: 70%;
    height: 2rem;
    min-width: 70%;
    min-height: 2rem;
}

.movieDetail-overview--loading{
    width: 100%;
    height: 10rem;
    min-width: 100%;
    min-height: 10rem;
}

.animation{
    background-color: var(--loading-grey);
    border-radius: 1rem;
    animation: loading-skeleton infinite 1.5s;
}

.movieDetail-title + div{  /* selecciona el div que sea el siguiente hermano a .movieDetail-title */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movieDetail-categories{
    max-width: 30rem;
    text-align: end;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;
    color: var(--white-ice);
}

.movieDetail-overview{
    font-size: 1.2rem;
    text-align: justify;
    color: var(--seal-grey);
}

.movieDetail-related{
    display: flex;
    flex-direction: column;
    width: 90vw;  /* Revisar despues porque se rompe este div */
    gap: 1.5rem;
    color: var(--white-ice);
}

/* estilos cuando favorite movies esta vacio */

.noFavorite-Container{
    display: grid;
    place-items: center;
    width: 32rem;
    height: 30rem;
    margin: 0 auto;
    text-align: center;
}

.noFavorite-Container span{
    font-size: 2rem;
    color: var(--dark-blue);
    font-weight: bold;
}

/* Animations */
@keyframes loading-skeleton {
    0%, 100%{
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }
}

/* Responsive bigger screens */

@media (min-width: 760px){
   header{
    flex-direction: row;
    align-items: center;
    gap: 3rem;
   }

   .header-search{
    width: 30rem;
   }

   .highlighted-movie-container{
    display: block;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
   }

   .category-dropdown{
    display: flex;
    position: absolute;
    top: 0.8rem;
    right: 2rem;
    cursor: pointer;
    }

    .down-icon{
        display: block;
        width: 3rem;
        height: 3rem;
        margin-left: 0.2rem;
        background-image: url('https://cdn-icons-png.flaticon.com/512/12687/12687864.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

   .categoriesPreview-container{
    display: none;
   }

   .categoriesPreview-title{
    display: none;
   }

   .category-dropdown-show{
    display: grid;
    height: 33rem;
    width: 35rem;
    padding-bottom: 2rem;
    position: absolute;
    top: 4.8rem;
    right: 0rem;
    background-color: var(--white-ice);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0px 4px 8px var(--seal-grey);
   }

   .header--movie-detail{
    align-items: start;
    height: 100%;
   }

   .movieDetail-container{
    margin-top: 60rem;
   }

   .movieDetail-categories{
    font-size: 1.6rem;
   }

   .movieDetail-overview{
    font-size: 1.4rem;
   }

}

@media (min-width: 950px){
    .movie-container--small{
        width: 21rem;
        height: 28rem;
        min-width: 21rem;
        min-height: 28rem;
    }

    .movieDetail-title,
    .movieDetail-score{
        font-size: 2.8rem;
    }

    .movieDetail-categories{
        font-size: 2rem;
   }
    
    .movieDetail-overview{
        font-size: 1.8rem;
   }
}

/* navegaci贸n */
.inactive{
    display: none;  
}